USE [master]
GO
/****** Object:  Database [p7g3]    Script Date: 12/06/2020 22:10:46 ******/
CREATE DATABASE [p7g3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'p7g3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\p7g3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'p7g3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\p7g3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [p7g3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [p7g3]
GO
/****** Object:  User [p7g3]    Script Date: 12/06/2020 22:10:47 ******/
CREATE USER [p7g3] FOR LOGIN [p7g3] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [p7g3]
GO
/****** Object:  Schema [centro_comercial]    Script Date: 12/06/2020 22:10:47 ******/
CREATE SCHEMA [centro_comercial]
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetFormatDate]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetFormatDate] (@Data AS DATE)
RETURNS VARCHAR(MAX)
AS
BEGIN
	RETURN DATENAME(D, @Data) + ' ' +
	DATENAME(M, @Data) + ' ' +
	DATENAME(YY, @Data)
END
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetNextIDCentro]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetNextIDCentro] ()
RETURNS INT
AS
BEGIN
	RETURN (SELECT MAX(ID) + 1 FROM centro_comercial.centro)
END

-- Função que devolve o número do próximo responsável de departamento a ser inserido na base de dados
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetNextNumDep]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetNextNumDep] (@ID_centro as INT)
RETURNS INT
AS
BEGIN 
	DECLARE @depID INT
	IF NOT EXISTS (
		SELECT * FROM centro_comercial.departamento 
		JOIN centro_comercial.responsavel_departamento ON Num_responsavel = Num_func
		WHERE ID_centro = @ID_centro 
	)
		BEGIN
			SET @depID = CONCAT(@ID_centro, '1')
		END
	ELSE
		BEGIN
			SET @depID = (SELECT MAX(ID) + 1 FROM centro_comercial.departamento
			JOIN centro_comercial.responsavel_departamento ON Num_responsavel = Num_func
			WHERE ID_centro = @ID_centro)
		END
	RETURN @depID
END

-- Função que devolve o número do próximo departamento a ser inserido num centro
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetNextNumFunc]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetNextNumFunc] ()
RETURNS INT
AS
BEGIN
	RETURN (SELECT MAX(Num_func) + 1 FROM centro_comercial.funcionario_loja)
END

-- Função que devolve o número do próximo departamento a ser inserido num centro
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetNextNumLoja]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetNextNumLoja] (@ID_centro as INT)
RETURNS INT
AS
BEGIN 
	DECLARE @numLoja INT
	IF NOT EXISTS (
		SELECT * FROM centro_comercial.loja 
		WHERE ID_centro = @ID_centro 
	)
		BEGIN
			SET @numLoja = CONCAT(@ID_centro, '001')
		END
	ELSE
		BEGIN
			SET @numLoja = (SELECT MAX(Num_loja) + 1 FROM centro_comercial.loja
			WHERE ID_centro = @ID_centro)
		END
	RETURN @numLoja
END

-- Função para retornar a data formatada
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetNextNumResp]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetNextNumResp] ()
RETURNS INT
AS
BEGIN
	RETURN (SELECT MAX(Num_func) + 1 FROM centro_comercial.responsavel_departamento)
END

-- Função que devolve o número do próximo funcionário a ser inserido na base de dados
GO
/****** Object:  UserDefinedFunction [dbo].[fnGetNumLojas]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnGetNumLojas] (@ID_centro AS INT)
RETURNS INT
AS
BEGIN
	RETURN (SELECT count(Num_loja) FROM centro_comercial.loja WHERE ID_centro = @ID_centro)
END

-- Função que devolve o ID do próximo centro a ser inserido
GO
/****** Object:  Table [centro_comercial].[centro]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [centro_comercial].[centro](
	[ID] [int] NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[Localizacao] [varchar](30) NOT NULL,
	[Num_lojas] [int] NOT NULL,
	[Area_total] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [centro_comercial].[comunica]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [centro_comercial].[comunica](
	[ID_departamento] [int] NOT NULL,
	[NIF_empresa] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [centro_comercial].[departamento]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [centro_comercial].[departamento](
	[ID] [int] NOT NULL,
	[Nome] [varchar](20) NOT NULL,
	[Num_responsavel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [centro_comercial].[empresa]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [centro_comercial].[empresa](
	[NIF] [int] NOT NULL,
	[Nome] [varchar](22) NOT NULL,
	[Contacto] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [centro_comercial].[eventos]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [centro_comercial].[eventos](
	[Tipo] [varchar](20) NOT NULL,
	[Data_inicio] [date] NOT NULL,
	[Data_fim] [date] NOT NULL,
	[Nome] [varchar](20) NOT NULL,
	[ID_departamento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [centro_comercial].[funcionario_loja]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [centro_comercial].[funcionario_loja](
	[NIF] [int] NOT NULL,
	[Num_func] [int] NOT NULL,
	[Data_entrada] [date] NOT NULL,
	[Salario] [int] NULL,
	[Numero_loja] [int] NULL,
	[Horas_semanais] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Num_func] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [centro_comercial].[interage]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [centro_comercial].[interage](
	[ID_departamento] [int] NOT NULL,
	[NIF_prestador] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [centro_comercial].[loja]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [centro_comercial].[loja](
	[Contacto] [varchar](12) NOT NULL,
	[Nome_comercial] [varchar](25) NOT NULL,
	[Renda] [int] NOT NULL,
	[Num_loja] [int] NOT NULL,
	[NIF_empresa] [int] NOT NULL,
	[Tipo] [varchar](20) NOT NULL,
	[ID_centro] [int] NOT NULL,
	[Area] [int] NOT NULL,
	[Num_gerente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Num_loja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [centro_comercial].[pessoa]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [centro_comercial].[pessoa](
	[NIF] [int] NOT NULL,
	[Primeiro_nome] [varchar](20) NOT NULL,
	[Ultimo_nome] [varchar](20) NOT NULL,
	[Sexo] [varchar](20) NULL,
	[Contacto] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [centro_comercial].[prestador]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [centro_comercial].[prestador](
	[Servico] [varchar](20) NOT NULL,
	[Empresa] [varchar](20) NOT NULL,
	[Horas_mensais] [int] NULL,
	[NIF] [int] NOT NULL,
	[Custo_mensal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [centro_comercial].[responsavel_departamento]    Script Date: 12/06/2020 22:10:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [centro_comercial].[responsavel_departamento](
	[NIF] [int] NOT NULL,
	[Num_func] [int] NOT NULL,
	[Salario] [int] NULL,
	[Habilitacoes] [varchar](max) NULL,
	[ID_centro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Num_func] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [centro_comercial].[centro] ([ID], [Nome], [Localizacao], [Num_lojas], [Area_total]) VALUES (1, N'AveiroShopping', N'Aveiro', 0, 32645)
INSERT [centro_comercial].[centro] ([ID], [Nome], [Localizacao], [Num_lojas], [Area_total]) VALUES (2, N'GaiaShopping', N'Gaia', 0, 42245)
INSERT [centro_comercial].[centro] ([ID], [Nome], [Localizacao], [Num_lojas], [Area_total]) VALUES (3, N'LisboaShopping', N'Lisboa', 0, 31612)
GO
INSERT [centro_comercial].[comunica] ([ID_departamento], [NIF_empresa]) VALUES (12, 85723922)
INSERT [centro_comercial].[comunica] ([ID_departamento], [NIF_empresa]) VALUES (12, 85723923)
INSERT [centro_comercial].[comunica] ([ID_departamento], [NIF_empresa]) VALUES (12, 85723924)
GO
INSERT [centro_comercial].[departamento] ([ID], [Nome], [Num_responsavel]) VALUES (11, N'Marketing', 1)
INSERT [centro_comercial].[departamento] ([ID], [Nome], [Num_responsavel]) VALUES (12, N'Comercial', 2)
INSERT [centro_comercial].[departamento] ([ID], [Nome], [Num_responsavel]) VALUES (13, N'Operacoes', 3)
GO
INSERT [centro_comercial].[empresa] ([NIF], [Nome], [Contacto]) VALUES (85723922, N'Inditex', N'234567892')
INSERT [centro_comercial].[empresa] ([NIF], [Nome], [Contacto]) VALUES (85723923, N'Sonae', N'234567893')
INSERT [centro_comercial].[empresa] ([NIF], [Nome], [Contacto]) VALUES (85723924, N'Fnac', N'234567894')
GO
INSERT [centro_comercial].[eventos] ([Tipo], [Data_inicio], [Data_fim], [Nome], [ID_departamento]) VALUES (N'Pascoa', CAST(N'2020-04-06' AS Date), CAST(N'2020-04-20' AS Date), N'Easter Bunny', 21)
INSERT [centro_comercial].[eventos] ([Tipo], [Data_inicio], [Data_fim], [Nome], [ID_departamento]) VALUES (N'Natal', CAST(N'2020-12-10' AS Date), CAST(N'2021-01-10' AS Date), N'Natal Feliz', 11)
INSERT [centro_comercial].[eventos] ([Tipo], [Data_inicio], [Data_fim], [Nome], [ID_departamento]) VALUES (N'Carnaval', CAST(N'2020-02-10' AS Date), CAST(N'2020-01-20' AS Date), N'Rio em Portugal', 31)
GO
INSERT [centro_comercial].[funcionario_loja] ([NIF], [Num_func], [Data_entrada], [Salario], [Numero_loja], [Horas_semanais]) VALUES (939141854, 1001, CAST(N'2006-07-05' AS Date), 960, 1001, 40)
INSERT [centro_comercial].[funcionario_loja] ([NIF], [Num_func], [Data_entrada], [Salario], [Numero_loja], [Horas_semanais]) VALUES (574170784, 1002, CAST(N'1998-12-15' AS Date), 1758, 1001, 16)
INSERT [centro_comercial].[funcionario_loja] ([NIF], [Num_func], [Data_entrada], [Salario], [Numero_loja], [Horas_semanais]) VALUES (866500068, 1003, CAST(N'2008-03-14' AS Date), 809, 1001, 40)
GO
INSERT [centro_comercial].[interage] ([ID_departamento], [NIF_prestador]) VALUES (13, 814798122)
INSERT [centro_comercial].[interage] ([ID_departamento], [NIF_prestador]) VALUES (13, 814798124)
INSERT [centro_comercial].[interage] ([ID_departamento], [NIF_prestador]) VALUES (13, 814798127)
GO
INSERT [centro_comercial].[loja] ([Contacto], [Nome_comercial], [Renda], [Num_loja], [NIF_empresa], [Tipo], [ID_centro], [Area], [Num_gerente]) VALUES (N'234098001', N'Zara', 17000, 1001, 85723922, N'Moda', 1, 1800, 1001)
INSERT [centro_comercial].[loja] ([Contacto], [Nome_comercial], [Renda], [Num_loja], [NIF_empresa], [Tipo], [ID_centro], [Area], [Num_gerente]) VALUES (N'234098004', N'Pull&Bear', 5000, 1002, 85723922, N'Moda', 1, 600, 1093)
INSERT [centro_comercial].[loja] ([Contacto], [Nome_comercial], [Renda], [Num_loja], [NIF_empresa], [Tipo], [ID_centro], [Area], [Num_gerente]) VALUES (N'234098005', N'Multiopticas', 2500, 1003, 85723927, N'Saúde', 1, 130, 1118)
GO
INSERT [centro_comercial].[pessoa] ([NIF], [Primeiro_nome], [Ultimo_nome], [Sexo], [Contacto]) VALUES (100253257, N'Ana', N'Maia', N'Feminino', N'924387614')
INSERT [centro_comercial].[pessoa] ([NIF], [Primeiro_nome], [Ultimo_nome], [Sexo], [Contacto]) VALUES (100988560, N'Beatriz', N'Monteiro', N'Feminino', N'966513414')
INSERT [centro_comercial].[pessoa] ([NIF], [Primeiro_nome], [Ultimo_nome], [Sexo], [Contacto]) VALUES (101236614, N'Daniel', N'Araujo', N'Masculino', N'939816478')
GO
INSERT [centro_comercial].[prestador] ([Servico], [Empresa], [Horas_mensais], [NIF], [Custo_mensal]) VALUES (N'Segurança', N'Securitas', 2075, 814798122, 25500)
INSERT [centro_comercial].[prestador] ([Servico], [Empresa], [Horas_mensais], [NIF], [Custo_mensal]) VALUES (N'Segurança', N'Prosegur', 2160, 814798123, 23000)
INSERT [centro_comercial].[prestador] ([Servico], [Empresa], [Horas_mensais], [NIF], [Custo_mensal]) VALUES (N'Limpeza', N'Safira', 5160, 814798124, 29000)
GO
INSERT [centro_comercial].[responsavel_departamento] ([NIF], [Num_func], [Salario], [Habilitacoes], [ID_centro]) VALUES (372304351, 1, 1950, N'Licenciatura', 1)
INSERT [centro_comercial].[responsavel_departamento] ([NIF], [Num_func], [Salario], [Habilitacoes], [ID_centro]) VALUES (720903578, 2, 2105, N'Mestrado', 1)
INSERT [centro_comercial].[responsavel_departamento] ([NIF], [Num_func], [Salario], [Habilitacoes], [ID_centro]) VALUES (625664063, 3, 2293, N'Mestrado', 1)
GO
ALTER TABLE [centro_comercial].[centro] ADD  DEFAULT ((0)) FOR [Num_lojas]
GO
ALTER TABLE [centro_comercial].[comunica]  WITH CHECK ADD FOREIGN KEY([ID_departamento])
REFERENCES [centro_comercial].[departamento] ([ID])
GO
ALTER TABLE [centro_comercial].[comunica]  WITH CHECK ADD FOREIGN KEY([NIF_empresa])
REFERENCES [centro_comercial].[empresa] ([NIF])
GO
ALTER TABLE [centro_comercial].[departamento]  WITH CHECK ADD FOREIGN KEY([Num_responsavel])
REFERENCES [centro_comercial].[responsavel_departamento] ([Num_func])
GO
ALTER TABLE [centro_comercial].[eventos]  WITH CHECK ADD FOREIGN KEY([ID_departamento])
REFERENCES [centro_comercial].[departamento] ([ID])
GO
ALTER TABLE [centro_comercial].[funcionario_loja]  WITH CHECK ADD FOREIGN KEY([NIF])
REFERENCES [centro_comercial].[pessoa] ([NIF])
GO
ALTER TABLE [centro_comercial].[funcionario_loja]  WITH CHECK ADD  CONSTRAINT [num_loja_fk] FOREIGN KEY([Numero_loja])
REFERENCES [centro_comercial].[loja] ([Num_loja])
GO
ALTER TABLE [centro_comercial].[funcionario_loja] CHECK CONSTRAINT [num_loja_fk]
GO
ALTER TABLE [centro_comercial].[interage]  WITH CHECK ADD FOREIGN KEY([ID_departamento])
REFERENCES [centro_comercial].[departamento] ([ID])
GO
ALTER TABLE [centro_comercial].[interage]  WITH CHECK ADD FOREIGN KEY([NIF_prestador])
REFERENCES [centro_comercial].[prestador] ([NIF])
GO
ALTER TABLE [centro_comercial].[loja]  WITH CHECK ADD FOREIGN KEY([ID_centro])
REFERENCES [centro_comercial].[centro] ([ID])
GO
ALTER TABLE [centro_comercial].[loja]  WITH CHECK ADD FOREIGN KEY([NIF_empresa])
REFERENCES [centro_comercial].[empresa] ([NIF])
GO
ALTER TABLE [centro_comercial].[responsavel_departamento]  WITH CHECK ADD FOREIGN KEY([ID_centro])
REFERENCES [centro_comercial].[centro] ([ID])
GO
ALTER TABLE [centro_comercial].[responsavel_departamento]  WITH CHECK ADD FOREIGN KEY([NIF])
REFERENCES [centro_comercial].[pessoa] ([NIF])
GO
ALTER TABLE [centro_comercial].[funcionario_loja]  WITH CHECK ADD CHECK  (([Salario]>(800) AND [Salario]<(1800)))
GO
ALTER TABLE [centro_comercial].[responsavel_departamento]  WITH CHECK ADD CHECK  (([Salario]>(1800) AND [Salario]<(2500)))
GO
/****** Object:  StoredProcedure [dbo].[spAdmin]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spAdmin](@ID_centro AS INT)
AS
SELECT 
	centro_comercial.responsavel_departamento.NIF,
    Num_func,
    Salario,
    Habilitacoes,
    Primeiro_nome,
    Ultimo_nome,
    Sexo,
    Contacto,
    centro_comercial.responsavel_departamento.ID_centro as ID_centro,
	Nome
FROM
	centro_comercial.responsavel_departamento join centro_comercial.pessoa on centro_comercial.pessoa.NIF = centro_comercial.responsavel_departamento.NIF
	left join centro_comercial.departamento on Num_responsavel = Num_func
WHERE
	centro_comercial.responsavel_departamento.ID_centro = @ID_centro

-- Seleciona todos os admnistradores de um centro sem repetições
GO
/****** Object:  StoredProcedure [dbo].[spDelCentro]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spDelCentro](@ID_centro AS INT)
AS
BEGIN
	DELETE centro_comercial.comunica
	FROM centro_comercial.comunica join centro_comercial.departamento on ID = ID_departamento
	JOIN centro_comercial.responsavel_departamento on Num_func = Num_responsavel
	WHERE ID_centro = @ID_centro
END
BEGIN
	DELETE centro_comercial.interage 
	FROM centro_comercial.interage join centro_comercial.departamento on ID = ID_departamento
	JOIN centro_comercial.responsavel_departamento on Num_func = Num_responsavel
	WHERE ID_centro = @ID_centro
END
BEGIN
	DELETE centro_comercial.eventos 
	FROM centro_comercial.eventos join centro_comercial.departamento on ID = ID_departamento
	JOIN centro_comercial.responsavel_departamento on Num_func = Num_responsavel
	WHERE ID_centro = @ID_centro
END
BEGIN
	DELETE FROM centro_comercial.prestador
	WHERE NIF NOT IN (SELECT NIF_prestador FROM centro_comercial.interage)
END
BEGIN
	DELETE centro_comercial.departamento FROM centro_comercial.departamento
	JOIN centro_comercial.responsavel_departamento on Num_func = Num_responsavel
	WHERE ID_centro = @ID_centro
END
BEGIN
	DELETE centro_comercial.responsavel_departamento 
	WHERE ID_centro = @ID_centro
END
BEGIN
	DELETE centro_comercial.funcionario_loja 
	FROM centro_comercial.funcionario_loja join centro_comercial.loja on Num_loja = Numero_loja 
	WHERE ID_centro = @ID_centro
END
BEGIN
	DELETE centro_comercial.loja 
	WHERE  ID_centro = @ID_centro
END
BEGIN
	DELETE centro_comercial.empresa 
	WHERE NIF NOT IN (SELECT NIF_empresa FROM centro_comercial.comunica) and NIF NOT IN (SELECT NIF_empresa  FROM centro_comercial.loja) 
END
BEGIN
	DELETE FROM centro_comercial.pessoa
	WHERE NIF NOT IN (SELECT NIF FROM centro_comercial.funcionario_loja) and NIF NOT IN (SELECT NIF  FROM centro_comercial.responsavel_departamento)
END
BEGIN
	DELETE centro_comercial.centro
	WHERE  ID = @ID_centro
END
GO
/****** Object:  StoredProcedure [dbo].[spDelDepartamento]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spDelDepartamento](@ID_centro AS INT, @ID_departamento AS INT)
AS
BEGIN
	DELETE centro_comercial.departamento WHERE ID = @ID_departamento
END

-- Seleciona todos os eventos que ocorrem num centro
GO
/****** Object:  StoredProcedure [dbo].[spDelLojasEmpresa]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spDelLojasEmpresa](@NIF_empresa AS INT, @ID_centro AS INT)
AS
BEGIN
DELETE
	centro_comercial.comunica 
FROM
	centro_comercial.comunica JOIN centro_comercial.departamento ON ID = ID_departamento
	JOIN centro_comercial.responsavel_departamento ON Num_func = Num_responsavel
WHERE
	NIF_empresa = @NIF_empresa AND ID_centro = @ID_centro
END
BEGIN
	IF EXISTS ( 
		SELECT * FROM centro_comercial.loja 
		WHERE ID_centro = @ID_centro AND NIF_empresa = @NIF_empresa
	)
	BEGIN
		DELETE
			centro_comercial.funcionario_loja 
		FROM
			centro_comercial.funcionario_loja JOIN centro_comercial.loja ON Num_loja = Numero_loja JOIN centro_comercial.empresa ON NIF_empresa = centro_comercial.empresa.NIF
		WHERE
			centro_comercial.empresa.NIF = @NIF_empresa and ID_centro = @ID_centro
	END
	BEGIN
		DELETE
			centro_comercial.loja 
		FROM
			centro_comercial.loja JOIN centro_comercial.empresa ON NIF = NIF_empresa 
		WHERE 
			NIF = @NIF_empresa and ID_centro = @ID_centro
	END
END

-- Remove um departamento se não for essencial (marketing, comercial, operaçoes)
GO
/****** Object:  StoredProcedure [dbo].[spDepartamentos]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spDepartamentos](@ID_centro AS INT)
AS
SELECT
	*
FROM
	centro_comercial.departamento 
	JOIN centro_comercial.responsavel_departamento AS r ON Num_func = Num_responsavel
	JOIN centro_comercial.pessoa ON centro_comercial.pessoa.NIF = r.NIF 
WHERE
	ID_centro = @ID_centro

-- Seleciona todos os prestadores de um centro
GO
/****** Object:  StoredProcedure [dbo].[spDistinctAdmin]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spDistinctAdmin](@ID_centro AS INT)
AS
SELECT DISTINCT
    Num_func,
    Primeiro_nome,
    Ultimo_nome
FROM
	centro_comercial.responsavel_departamento join centro_comercial.pessoa on centro_comercial.pessoa.NIF = centro_comercial.responsavel_departamento.NIF
	left join centro_comercial.departamento on Num_responsavel = Num_func
WHERE
	centro_comercial.responsavel_departamento.ID_centro = @ID_centro


-- Remove o centro comercial pretendido e todas as suas ligações
GO
/****** Object:  StoredProcedure [dbo].[spEmpresas]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spEmpresas](@ID_centro AS INT)
AS
SELECT DISTINCT
	*
FROM
	centro_comercial.empresa 
	JOIN centro_comercial.comunica on NIF = NIF_empresa
	JOIN centro_comercial.departamento on ID = ID_departamento
	JOIN centro_comercial.responsavel_departamento on Num_responsavel = Num_func
WHERE
	ID_centro = @ID_centro

-- Seleciona todos os departamentos de um centro
GO
/****** Object:  StoredProcedure [dbo].[spEventos]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spEventos](@ID_centro AS INT)
AS
SET LANGUAGE Portuguese
SELECT 
	Tipo,
	Data_inicio = dbo.fnGetFormatDate(Data_inicio),
	Data_fim = dbo.fnGetFormatDate(Data_fim),
	centro_comercial.departamento.Nome as Dep_nome,
	centro_comercial.eventos.Nome as Nome,
	ID_departamento 
FROM
	centro_comercial.eventos JOIN centro_comercial.departamento on ID = ID_departamento
	JOIN centro_comercial.responsavel_departamento on Num_responsavel = Num_func
WHERE
	ID_centro = @ID_centro

-- Seleciona os funcionarios que contém a string @nome de um centro com id @id_centro
GO
/****** Object:  StoredProcedure [dbo].[spFuncionarios]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spFuncionarios](@ID_centro AS INT)
AS
SET LANGUAGE Portuguese
SELECT
	Num_func,
	Primeiro_nome,
	Ultimo_nome,
	centro_comercial.pessoa.Contacto,
	centro_comercial.funcionario_loja.NIF,
	Salario,
	Horas_semanais,
	Data_entrada = dbo.fnGetFormatDate(Data_entrada),
	Numero_loja,
	Nome_comercial,
	Sexo
FROM
	centro_comercial.funcionario_loja join centro_comercial.pessoa on centro_comercial.funcionario_loja.NIF = centro_comercial.pessoa.NIF
	join centro_comercial.loja on Numero_loja = Num_loja
WHERE
	ID_centro = @ID_centro
ORDER BY
	Num_func

-- Seleciona todos os admnistradores de um centro
GO
/****** Object:  StoredProcedure [dbo].[spFuncLojaList]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spFuncLojaList](@Num_loja AS INT)
AS
SELECT
	Num_func,
	Primeiro_nome,
	Ultimo_nome
FROM
	centro_comercial.funcionario_loja join centro_comercial.pessoa ON centro_comercial.funcionario_loja.NIF = centro_comercial.pessoa.NIF
WHERE
	Numero_loja = @Num_loja
ORDER BY
	Num_func

-- Seleciona todas as empresas de um centro
GO
/****** Object:  StoredProcedure [dbo].[spGetFuncByName]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetFuncByName] (@nome AS VARCHAR(MAX), @id_centro AS INT)
AS
BEGIN
	SELECT DISTINCT
		*,
		Data_de_entrada = dbo.fnGetFormatDate(Data_entrada)
	FROM 
		centro_comercial.funcionario_loja as f 
		join centro_comercial.pessoa as p on p.NIF = f.NIF 
		join centro_comercial.loja on Numero_loja = Num_loja
	WHERE 
		Primeiro_nome like '%' + @nome + '%' and ID_centro = @id_centro
END

-- Seleciona todos os funcionários de um centro
GO
/****** Object:  StoredProcedure [dbo].[spLojas]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLojas](@ID_centro AS INT)
AS
SELECT
	*
FROM
	centro_comercial.loja AS l
	JOIN centro_comercial.empresa ON NIF = NIF_empresa
	JOIN centro_comercial.funcionario_loja AS f ON Num_func = Num_gerente
	JOIN centro_comercial.pessoa AS p ON p.NIF = f.NIF
WHERE
	l.ID_centro = @ID_centro


-- Remove todas as lojas de uma empresa de determinado centro
GO
/****** Object:  StoredProcedure [dbo].[spLojasByCentro]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLojasByCentro](@ID_centro AS INT)
AS
SELECT
	Nome_comercial,
	Num_loja
FROM
	centro_comercial.loja
WHERE
	ID_centro = @ID_centro
ORDER BY
	Num_loja

-- Seleciona todos os funcionários de uma loja
GO
/****** Object:  StoredProcedure [dbo].[spLojasList]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spLojasList](@NIF_empresa AS INT, @ID_centro AS INT)
AS
SELECT DISTINCT
	Nome_comercial
FROM
	centro_comercial.loja JOIN centro_comercial.empresa on NIF_empresa = NIF
WHERE
	NIF_empresa = @NIF_empresa and ID_centro = @ID_centro
ORDER BY
	Nome_comercial

-- Seleciona todas as lojas de um centro
GO
/****** Object:  StoredProcedure [dbo].[spPrestadores]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spPrestadores](@ID_centro AS INT)
AS
SELECT
	*
FROM
	centro_comercial.prestador
	JOIN centro_comercial.interage ON NIF = NIF_prestador
	JOIN centro_comercial.departamento ON ID = ID_departamento
	JOIN centro_comercial.responsavel_departamento ON Num_func = Num_responsavel
WHERE
	ID_centro = @ID_centro

-- Seleciona todas as lojas de um centro
GO
/****** Object:  Trigger [centro_comercial].[trgLojaAlterada]    Script Date: 12/06/2020 22:10:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [centro_comercial].[trgLojaAlterada]
ON [centro_comercial].[loja]
AFTER UPDATE
AS
BEGIN

	IF EXISTS (
		SELECT * FROM centro_comercial.funcionario_loja 
		INNER JOIN inserted 
		ON inserted.Num_gerente = funcionario_loja.Num_func
		WHERE Horas_semanais < 40
	)
	BEGIN
		RAISERROR('Não pode colocar um funcionário em part-time como gerente da loja.', 5, 1)
		ROLLBACK TRANSACTION
		RETURN
	END
END

-- Trigger que gera um erro se o utilizador tentar remover um dos 3 departamentos essenciais
-- (marketing, comercial, operações)
-- Funciona mas optámos por usar um sp

--GO
--CREATE TRIGGER trgDelDepartamento
--ON centro_comercial.departamento
--AFTER DELETE
--AS
--BEGIN
--	IF EXISTS (SELECT * FROM deleted
--		JOIN responsavel_departamento as r on Num_func = deleted.Num_responsavel
--		WHERE deleted.id = CONCAT(r.ID_centro, '1') or deleted.id = CONCAT(r.ID_centro, '2') or deleted.id = CONCAT(r.ID_centro, '3'))
--	BEGIN
--		RAISERROR('Não pode remover nenhum dos 3 departamentos essenciais (marketing, comercial, operaçoes).', 5, 1)
--		ROLLBACK TRANSACTION
--		RETURN
--	END
--END
GO
ALTER TABLE [centro_comercial].[loja] ENABLE TRIGGER [trgLojaAlterada]
GO
USE [master]
GO
